

body {
    height: 200vh;
}

#btn-box {
    display: flex;
    justify-content: space-evenly;
}
.btn {
    margin-top: 20px;
}

.card {
    width: 30%;
    height: 20%;
}

.show {
    visibility: visible;
}

.row {
    visibility: hidden;
}

.shopping-title {
    margin-top: 30px;
    text-align: center;
}