.grey {
    background-color: aliceblue;
    height: 300vh;
    margin-top: 500px;
}

.card-background {
    background-color: coral;
    height: 400vh;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-box {
    position: sticky;
    top: 50px;
    margin-top: 250px;
    opacity: 1;
}

.img {
    float:right;
    width: 500px;
    height: 500px;
    position: sticky;
    top: 0px;
}
img {
    float: right;
    width: 500px;
    height: 500px;
}

.text {
    float: left;
    width: 400px;
}

.hide {
    opacity: 0;
    transition: all 0.5s;
}

.show {
    opacity: 1;
    transition: all 0.5s;
}